# Eclipse
/.classpath
/.project
/.settings/
bin/
target/
documents/
exports/

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Maven/Gradle
log/
temp/